* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-align-center {
  align-items: center;
}

body {
  background: #ecf0f1 !important;
}